# sample stream files
*.mp4

# config files
*.ini
*.conf
*.json

# compiled binaries
__pycache__
*.pyc
venv
.venv

# IDE Files
.idea

# Doc precompiled
_build
docs/make*

# PyPI precompiled
dist
*egg-info